[user]
    name = Sangam Kumar
    email = sangamcse.dev@gmail.com
    signingkey = 8438490C14CD7A4A
[apply]
    whitespace = fix
[core]
    excludesfile = /Users/sangam/.gitignore_global
    editor = /usr/bin/vim
    pager = "diff-so-fancy | less --tabs=4 -RFX"
    whitespace = trailing-space,space-before-tab
[format]
    signoff = true
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =
[mergetool "sourcetree"]
    cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[push]
    default = current
[grep]
    lineNumber = true
[color]
    ui = true
[merge]
    summary = true
[alias]
    unstage = reset HEAD --
    uncommit = reset --soft HEAD~
    pull = pull --ff-only
    yolo = "!autocommit() { \
        echo 'How much day(s) back? '; \
        read days; \
        git add -A; \
        if [ $days ]; then \
            DATE=$(date -v-\"$days\"d); \
            GIT_COMMITTER_DATE=\"$DATE\" git commit -s -m \"$(curl --silent --fail http://whatthecommit.com/index.txt)\" --date=\"$DATE\"; \
        else \
            git commit -s -m \"$(curl --silent --fail http://whatthecommit.com/index.txt)\"; \
        fi \
    }; autocommit"
    brm = "!rmbranch() { \
        git branch | xargs git branch -D; \
    }; rmbranch"
[commit]
    gpgsign = true
